title: "Hardware CI Demo v{{VERSION}}"
suite:
- ident: Setup
  steps:
  - command: power off
  - command: uartCfg UART0 115200
  - command: power 5V on
- ident: "Program Shell Variant"
  steps:
  - command: identify nRF52
  - command: program nRF52 shell-{{BOARD}}-{{VERSION}}.hex
  - command: sleepms 1000
- ident: "Reset MCU"
  steps:
  - command: pin SWD_NRST output low
  - command: pin SWD_NRST output high
- ident: Version
  steps:
  - uartcmd: uart UART0
    send: "\r\nkernel version\r\n"
    expect: "Zephyr version"
    extract: "Zephyr version (.*)\r\n"
- ident: "Temperature Sensor"
  steps:
  - uartcmd: uart UART0
    send: "\r\nsensor get TEMP_0\r\n"
    extract: 'die_temp = ([\d\.]*)'
    extractKey: DIE_TEMP_C
  - command: eval "numeric(DIE_TEMP_C) > 0.0"
  - command: eval "numeric(DIE_TEMP_C) < 40.0"
- ident: "I2C0 Device Check"
  steps:
  - uartcmd: uart UART0
    send: "\r\ni2c scan I2C0\r\n"
    extract: "(.*)\r\n"
    extractKey: NUM_I2C0_DEVICES
- ident: "BAT_CHGB GPIO"
  # P0.28 (BAT_CHGB) is connected to DATP07
  steps:
  - uartcmd: uart UART0
    send: "gpio conf GPIO_0 28 out\r\n"
    expect: "Configuring GPIO_0 pin 28"
  # Drive P0.28 low
  - uartcmd: uart UART0
    send: "gpio set GPIO_0 28 0\r\n"
    expect: "Writing to GPIO_0 pin 28"
  # Check if TP2 (BAT_CHGB) is low
  - command: measure voltageDATP07 -10-600mV
- ident: "Program App"
  steps:
  - command: program nRF52 app-{{BOARD}}-{{VERSION}}.hex
- ident: "BLE"
  title: BLE discovery
  steps:
  - command: bledis %BLEMAC% 5
- ident: "Power Off"
  title: Power off
  steps:
  - command: power off

